body{
  background-image: url("Free\ Vector\ _\ Aesthetic\ dreamy\ background\,\ purple\ cloudy\ sky\ vector\,\ glitter\ design\ \(1\).jfif");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color: rgb(169, 60, 179), rgb(79, 6, 115);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 100px;
  text-decoration: blueviolet;
  font-size: 80px;
  color:aliceblue;
  border-style: double;
  
}.header {
  overflow: hidden;
  background-color: rgb(62, 0, 91);
  /*padding: 20px 10px;*/
}
h3{
  color: rgb(169, 60, 179), rgb(79, 6, 115);
  text-align: center;
  margin: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color:rgb(17, 15, 19);
  border-radius: 10px;
  box-shadow: floralwhite;
  padding: 15px;
  margin: 0 auto;
  max-width: 800px;
  
}
.header {
  overflow: hidden;
  background-color: rgb(33, 4, 65);
  /*padding: 20px 10px;*/
}
.header img{
  height: 50px;
  width: 50px;
}


/* Style the header links */
.header a {
  float: left;
  color: rgb(251, 134, 220);
  text-align: left;
  padding: 12px;
  text-decoration: darkorchid;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: rgb(192, 161, 249);
  color: rgb(252, 177, 228);
}

.header a.active {
  background-color: rgb(137, 180, 250);
  color: rgb(194, 250, 252);
}

/* Float the link section to the right */
.header-Right {
  float: right;
}

.footer{
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(244, 139, 228);
  color: rgb(22, 13, 21);
  text-align: center;
}
#content{
  color: rgb(82, 7, 79);
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 75px;
}